.ourCulture {
  background: #017db9;
  /* background-image: url("../../../Images/ourculture.png"); */
  background-size: cover;
  min-height: 530px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 70px 75px !important;
}

.ourCulture .title {
  font-size: 2.6rem;
  font-weight: 500 !important;
}

.ourCulture .subTitle {
  font-size: 1.5rem;
  font-weight: 600 !important;
}

.professional {
  /* background-image: url("../../../Images/professional.png"); */
  background-size: cover;
  min-height: 265px;
}

.quality {
  /* background-image: url("../../../Images/quality.png"); */
  background-size: cover;
  min-height: 265px;
}

.transparency {
  /* background-image: url("../../../Images/transparency.png"); */
  background-size: cover;
  min-height: 265px;
}

.borderBottom {
  border-bottom: 1px solid #ddd;
}

.homePage .pageBanner img {
  height: calc(100vh - 100px);
  object-fit: cover;
}

.homePage .pageBanner .titleCaption {
  padding: 10px 120px 150px !important;
}

@media (max-width: 576px) {
  .homePage .pageBanner .titleCaption {
    padding: 10px 50px 120px !important;
  }
}

/*  End of Eight Blocks */

.homeProjectsInfo .breiftopMargin {
  margin-top: 0px !important;
}

.homeProjectsInfo .breiftopMargin > .container > div {
  padding-top: 0px !important;
}

.homeBriefheilights {
  /* background-color: #FF9D00; */
  background-image: url("../../../Images/homeBriefHilghtBg.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  padding: 48px 0;
  margin: 30px 0;

  h5 {
    color: #fff !important;
    font-weight: normal !important;
  }

  p {
    color: #f8f8f8;
    font-weight: 300 !important;
  }
}



/* Home Page Projects Carousel CSS */
.slick-list {
  width: 800px;
}
